@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@400;500&family=Poppins:ital,wght@0,400;0,500;1,400&family=Rajdhani:wght@400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Kalnia', serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rajdhani', sans-serif;
}

.header{
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
.header nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.header img{
  width: 150px;
}
.nav_links{
  flex: 1;
  text-align: right;
}

.nav_links ul li{
  padding: 8px 12px;
  position: relative;
  display:inline-block;
}
 ul li a {
  color: #fff;
  font-size: 0.85rem;
 }

 .nav_links ul li a::after{
  content: " ";
  width: 0%;
  height: 2px;
  background-color: #f44336;
  display: block;
  margin: auto;
  transition: .2s linear;
 }

 .nav_links ul li a:hover::after{
  width: 100%;
 }